%fieldset
  %legend Assessment Search
  = form_tag(  search_assessor_section_path(@assessor)) do
    %strong Status:
    = select_tag :status, options_for_select(%W( #{""} New Active Locked Master),params[:status])
    %strong Key:
    = search_field_tag :key, params[:key]
    = select_tag :where, options_for_select(['Start with','Contains',"Ends with"],params[:where]),  :prompt => '--Select Condition--'
    = submit_tag "Search"
    = link_to "Clear Search", list_assessor_section_path(@assessor)
  %span.annotate
    STEVE NOTE: This is what I came up with to link Assessments to the polymorphic assessor.
    You search for assessments to create a new assessor_section. This just links to assessor_sections/new passing the stuff it needs.
%fieldset.index-list
  %legend Assessments
  %table
    %tr.list-header
      %td Name
      %td Key
      %td Category
      %td Status
      %td version
      %td Actions
    - altswitch = false
    - @assessments.each do |assessment|
      - altswitch = !altswitch
      - altclass = altswitch ? "" : "class=\"alt\""
      <tr #{raw altclass} >
      %td= assessment.name
      %td= assessment.assessing_key
      %td= assessment.category
      %td= assessment.status
      %td= assessment.updated_at
      %td
        = link_to "New Section",new_assessor_assessor_section_path(@assessor.id,:assessment_id => assessment.id)
= params.inspect
