%fieldset
  %h3 Welcome home dummy
  
  %ul
    %li= link_to "Simulated Models", stages_path
    %li= link_to "Assessors", assessors_path
    %li= link_to "Scores", scores_path
    %li
      = link_to "Users", users_path
      %span.annotate Include login as
    %li= link_to "Apply", apply_stages_path
    %li= link_to "Survey", survey_stages_path
    
    .box= session.public_methods
    
