<!DOCTYPE html>
<html>
<head>
  <title>Dummy</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body id="mybody">

  <div id="container">
    <div id="header">Dummy Test - <%= current_user.role%> </div>
    <div class="navbar">
       <%= link_to "Assessable Home", "/assessable" %> <%= link_to "Assessments","/assessable/assessments" %> |
       <%= link_to "Dummy Home", "/"%>
       <%= link_to "Models", stages_path%>
       <%= link_to "Assessors", assessors_path%>
       <%= link_to "Scores", scores_path%>
       <%= link_to "Users", users_path%>
       
    </div>
    
    <div id="content">
      <% flash.each do |name, msg| %>
        <%= content_tag :div, msg, class: "#{name}" %>
      <% end%>
      <fieldset>
        <%= yield %>
      </fieldset>
    </div>
  </div>

</body>
</html>
