%fieldset.index-list
  %legend Listing assessments
  .box
    = form_tag(  assessments_path, :method => :get) do
      %strong Status:
      = select_tag :status, options_for_select(%W( #{""} New Active Locked Master),params[:status])
      %strong Key Fields:
      = search_field_tag :key, params[:key]
      = select_tag :where, options_for_select(['Start with','Contains',"Ends with"],params[:where]),  :prompt => '--Select Condition--'
      = submit_tag "Search"
      = link_to "Clear Search", assessments_path
  
  %span.f-left= paginate @assessments
  %span.f-right= page_entries_info @assessments
  .f-clear
  %table
    %tr.list-header
      %th Name
      %th Status
      %th Category Key
      %th Assessing Key
      %th Key
      %th Raw
      %th Weighted
      %th Actions

    - @assessments.each do |assessment|
      %tr
        %td= assessment.name
        %td= assessment.status
        %td= truncateText(assessment.category,20)
        %td= truncateText(assessment.assessing_key,20)
        %td= truncateText(assessment.key,20)
        %td= assessment.max_raw
        %td= assessment.max_weighted
        %td
          = link_to 'Show', assessment
          = link_to 'Edit', edit_assessment_path(assessment)
          = link_to 'Destroy', assessment, :method => :delete, :data => { :confirm => 'Are you sure?' }

  .navbar

    = link_to 'New Assessment', new_assessment_path
