%fieldset.index-list
  %legend 
    Listing All 
    = @status
    Stage Assessor

  %table
    %tr.list-header
      %th Stage
      %th Assessed model
      %th Name
      %th Status
      %th Instructions
      %th Method
      %th Actions

    - @assessors.each do |assessor|
      %tr
        %td= assessor.assessoring.name
        %td= assessor.assessed_model
        %td= assessor.name
        %td= assessor.status
        %td= assessor.instructions
        %td= assessor.method
        %td
          - case @status
          - when "active.survey"
            %ul
              %li= link_to 'Survey(All)', survey_take_path(assessor)
              - if assessor.method =~ /section/i
                - assessor.assessor_sections.each do |s|
                  %li= link_to s.name, survey_take_path(assessor, section: s.id)
                  
            
          - when "active.evaluate"
            = link_to 'Evaluate', evaluate_take_path(assessor)
          - when "active.score"
            %ul
              %li= link_to 'Score(All)', score_take_path(assessor,:assessed => params[:assessed], :assessed_id => params[:assessed_id])
              - if assessor.method =~ /section/i
                - assessor.assessor_sections.each do |s|
                  %li= link_to s.name, score_take_path(assessor, section: s.id,:assessed => params[:assessed], :assessed_id => params[:assessed_id])
          
            
          - when "active.apply"
            = link_to 'Apply', apply_take_path(assessor)


