%fieldset.index-list
  %legend Listing scores

  %table
    %tr.list-header
      %th Assessor
      %th Assessed
      %th Status
      %td Date
      %th Raw
      %th Weighted
      %th Sect/Stat
      %th Actions

    - @scores.each do |score|
      %tr
        %td= score.assessor_section.name
        %td= score.assessed.name
        %td= score.status
        %td= score.updated_at.strftime("%m/%d/%Y")
        %td= score.raw
        %td= score.weighted
        %td= score.assessor_section.status
        %td
          = link_to 'Show', score
          = link_to 'Edit', edit_score_path(score)
          = link_to 'Destroy', score, :method => :delete, :data => { :confirm => 'Are you sure?' }

